html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    width: 100%;
    height: 100%;
    padding: 5px;
}
.row{
    width: 100%;
}
.mat-mdc-form-field{
    width: 100%;
}
ul li{
    list-style: none;
}
ul{
    padding: 0;
}
.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row,body,.mat-mdc-paginator{
    background-color: #f5f5f5 !important;
    color: #3e3e3e !important;
}
.darkbg .mat-mdc-table tbody, .darkbg .mat-mdc-table tfoot, .darkbg .mat-mdc-table thead, .darkbg .mat-mdc-cell, .darkbg .mat-mdc-footer-cell, .darkbg .mat-mdc-header-row, .darkbg .mat-mdc-row, .darkbg .mat-mdc-footer-row,body.darkbg,.darkbg .mat-mdc-paginator{
    background-color: #3e3e3e !important;
    color: #f5f5f5 !important;
}
table th.mdc-data-table__header-cell{
    background-color: #3e3e3e!important;
    color: #fff !important;
    position: sticky;
    top: 0;
    z-index: 99999 !important;
}
.darkbg table th.mdc-data-table__header-cell{
    background-color: #8ed0c7 !important;
    color: #3e3e3e !important;
}
* :focus{
    box-shadow: none !important;
}
.darkbg .mat-mdc-floating-label,.darkbg .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input{
    color: #f5f5f5 !important;
}
.darkbg .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input::placeholder{
    color: #bbbbbb55 !important;
}
.table-wraapper{
    overflow: auto;
    min-height: 320px;
    height: calc(100vh - 600px);
}
.darkbg .mat-mdc-icon-button svg {
    vertical-align: baseline;
    background-color: #ada9e5;
    border-radius: 19%;
    color: #f5f5f5 !important;
}
.darkbg .mat-mdc-paginator .mat-mdc-select-value,.mat-mdc-select-arrow svg{
    color: #fff !important;
}
.action_td button{
    width: fit-content !important;
}
.createPage{
    width: 50%;
    margin: auto;
}
@media screen and (max-width:991px) {
    .createPage{
        width: 100%;
    }
}
.toast-container .ngx-toastr{
    width: 99vw;
    text-align: center;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius: 10px;
  }
  .darkbg::-webkit-scrollbar-thumb,.darkbg *::-webkit-scrollbar-thumb {
    background: #f5f5f5;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }